<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.antennarotorcontrol">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sat_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HamSatMenu"
            android:label="Amateur Radio Satellites"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TestListTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HelpTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".InfoActivity"
            android:label="Information"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InfoTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
    </application>

</manifest>